# =====================================================
# Python
# =====================================================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================================================
# Virtual Environment
# =====================================================

.venv/
venv/
env/
ENV/

# =====================================================
# Jupyter Notebook
# =====================================================

.ipynb_checkpoints/

# =====================================================
# VS Code / PyCharm
# =====================================================

.vscode/
.idea/

# =====================================================
# OS Files
# =====================================================

.DS_Store
Thumbs.db

# =====================================================
# MLflow
# =====================================================

mlruns/

# =====================================================
# Evaluation Outputs
# =====================================================

reports/
classification_report.txt
confusion_matrix.png
baseline_results.csv

# =====================================================
# Python Build
# =====================================================

build/
dist/
*.egg-info/

# =====================================================
# Logs
# =====================================================

*.log

# =====================================================
# Temporary Files
# =====================================================

*.tmp
*.bak

# =====================================================
# Cache
# =====================================================

.cache/
.pytest_cache/

# =====================================================
# Streamlit
# =====================================================

.streamlit/secrets.toml